# Python cache files
__pycache__/

# Python distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
# *venv/
env/
.venv/

*.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Miscellaneous
.DS_Store

# Database Credentials
db_config.cnf

.pytest_cache/
.aider*
.claudeignore
CLAUDE.md
.claudesync

github_secret.yml